<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Deploy Logger Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="css/bootstrap.css" media="screen">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        Deploy Logger Service</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-brand"><img src="resources/shiftforward.png" height="100%"></li>
      </ul>
    </div>
  </div>
</div>

<div style="padding-top: 100px;" class="container">

  <!-- Projects Section -->
  <div class="project-section">
  </div>

  <!-- Deploy Details -->
  <div class="content-section">
  </div>

</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/jquery-dateFormat.js"></script>

<script id="projectListTpl" type="text/template">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title"><a href="#<%= name %>">Project: <%= name %></a></h2>
      </div>
      <div class="panel-body">
        <p>Description: <%= description %></p>
        <p><a href="<%= git %>"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <%= git %></a></p>
      </div>
    </div>
  </div>
</script>

<script id="projectTpl" type="text/template">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <a href='#<%= name %>' style="color:white"><h2 class="panel-title">Project: <%= name %></h2></a>
    </div>
    <div class="panel-body">
      <p>Description: <%= description %></p>
      <p><a href="<%= git %>"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <%= git %></a></p>
    </div>
  </div>
</script>

<script id="deployTpl" type="text/template">
  <th><span class='glyphicon glyphicon-<%= status %>-sign' aria-hidden="true"></span></th>
  <th><%= timestamp %></th>
  <th><%= description %></th>
  <th><%= version %></th>
  <th><%= user %></th>
  <th><%= client %></th>
  <th><a href="#<%= projname %>/<%=id%>">Details</a></th>
</script>

<script id="deployDetailTpl" type="text/template">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Deploy at <%= timestamp %></h3>  
      </div>
      <% if (deploy.running) { %>
      <div class="progress progress-striped active" style="margin-bottom:0px">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <% } %>
      <div class="panel-body">
       
        <h6 class="col-md-12"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Description: <%= description %></h6>
        </br>
        <h6>
          <span class="col-md-4"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Version: <%= version %></span>
          <span class="col-md-4"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User: <%= user %></span>
              <span class="col-md-4">
                 <a href="https://bitbucket.org/shiftforward/<%= projname %>/commits/<%=commitHash%>">
                   <span class="glyphicon glyphicon-random" aria-hidden="true"></span> <%= commitBranch %></a>
              </span>
        </h6>
        </br>
        <h6>
             <span class="col-md-4">
                <a href="<%= changelog %>"> <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Changelog</a>
             </span>
             <span class="col-md-4">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Client: <%= client %>
             </span>
             <span class="col-md-4">
                  <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#eventModal">
                    Add Event
                </button>
             </span>
        </h6>
        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add new event</h4>
              </div>
              <div class="modal-body">
                <form class="bs-component">
                  <div class="form-group">
                    <label class="control-label" for="status">Type</label>
                    <select class="form-control" id="status">
                      <option>SKIPPED</option>
                      <option>FAILED</option>
                      <option>SUCCESS</option>
                      <option>LOG</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="msg">Message</label>
                    <input type="text" class="form-control" id="msg" placeholder="Example">
                  </div>
                    <button  class="btn btn-primary" data-url="/project/<%= projname %>/deploy/<%= id %>/event" id="addEvent">
                        Add Event
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4>Events</h4>
    <ul class="list-group">
      <% _.each(events, function(ev){ %>
      <li class="list-group-item">
        <span style="float:right" class="label label-<%= ev.color %>"><%= _.escape(ev.status) %></span>
        <% if (ev.description !== "") { %>
        <p><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Description: <%= _.escape(ev.description) %></p>
        <% } %>
        <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          DateTime: <%= _.escape(ev.timestamp) %></p>
      </li>
      <% }); %>
    </ul>
  </div>
</script>
<script src="js/application.js"></script>
</body>
</html>
